# Fișiere de build (Maven)
target/
*.class

# Folderul de loguri și stări (Maelstrom)
store/
maelstrom.tar.bz2
maelstrom/

# Configurații VS Code (opțional, dar recomandat)
.vscode/

# Alte fișiere temporare
*.log
*.tmp
.DS_Store