{:index 0, :time 15456362, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 21914658, :type :ok, :process 0, :f :broadcast, :value 0}
{:index 2, :time 349955387, :type :invoke, :process 1, :f :broadcast, :value 1}
{:index 3, :time 353046822, :type :ok, :process 1, :f :broadcast, :value 1}
{:index 4, :time 714942424, :type :invoke, :process 2, :f :read, :value nil}
{:index 5, :time 718960798, :type :ok, :process 2, :f :read, :value []}
{:index 6, :time 1032924823, :type :invoke, :process 0, :f :broadcast, :value 2}
{:index 7, :time 1035516900, :type :ok, :process 0, :f :broadcast, :value 2}
{:index 8, :time 1361202897, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 1364347776, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 10, :time 1647184743, :type :invoke, :process 1, :f :broadcast, :value 3}
{:index 11, :time 1650507473, :type :ok, :process 1, :f :broadcast, :value 3}
{:index 12, :time 1882483770, :type :invoke, :process 2, :f :broadcast, :value 4}
{:index 13, :time 1884936466, :type :ok, :process 2, :f :broadcast, :value 4}
{:index 14, :time 1940991256, :type :invoke, :process 0, :f :read, :value nil}
{:index 15, :time 1943693598, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 16, :time 2255805145, :type :invoke, :process 0, :f :broadcast, :value 5}
{:index 17, :time 2258032993, :type :ok, :process 0, :f :broadcast, :value 5}
{:index 18, :time 2459410948, :type :invoke, :process 1, :f :read, :value nil}
{:index 19, :time 2461997494, :type :ok, :process 1, :f :read, :value [1 3]}
{:index 20, :time 2783127882, :type :invoke, :process 2, :f :broadcast, :value 6}
{:index 21, :time 2785670783, :type :ok, :process 2, :f :broadcast, :value 6}
{:index 22, :time 3181811071, :type :invoke, :process 0, :f :broadcast, :value 7}
{:index 23, :time 3184104968, :type :ok, :process 0, :f :broadcast, :value 7}
{:index 24, :time 3418814862, :type :invoke, :process 0, :f :broadcast, :value 8}
{:index 25, :time 3421504739, :type :ok, :process 0, :f :broadcast, :value 8}
{:index 26, :time 3719068925, :type :invoke, :process 1, :f :broadcast, :value 9}
{:index 27, :time 3721286193, :type :ok, :process 1, :f :broadcast, :value 9}
{:index 28, :time 4065470222, :type :invoke, :process 2, :f :broadcast, :value 10}
{:index 29, :time 4067893039, :type :ok, :process 2, :f :broadcast, :value 10}
{:index 30, :time 4386656497, :type :invoke, :process 0, :f :read, :value nil}
{:index 31, :time 4389111738, :type :ok, :process 0, :f :read, :value [0 2 5 7 8]}
{:index 32, :time 4553018379, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 4555434759, :type :ok, :process 0, :f :read, :value [0 2 5 7 8]}
{:index 34, :time 4668684835, :type :invoke, :process 1, :f :broadcast, :value 11}
{:index 35, :time 4671079508, :type :ok, :process 1, :f :broadcast, :value 11}
{:index 36, :time 5017270566, :type :invoke, :process 2, :f :broadcast, :value 12}
{:index 37, :time 5019523092, :type :ok, :process 2, :f :broadcast, :value 12}
{:index 38, :time 5189709786, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 5191966816, :type :ok, :process 0, :f :read, :value [0 2 5 7 8]}
{:index 40, :time 5393027850, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 5395346519, :type :ok, :process 0, :f :read, :value [0 2 5 7 8]}
{:index 42, :time 5708192466, :type :invoke, :process 1, :f :broadcast, :value 13}
{:index 43, :time 5710447798, :type :ok, :process 1, :f :broadcast, :value 13}
{:index 44, :time 5937325216, :type :invoke, :process 2, :f :read, :value nil}
{:index 45, :time 5939464672, :type :ok, :process 2, :f :read, :value [4 6 10 12]}
{:index 46, :time 6048652303, :type :invoke, :process 0, :f :broadcast, :value 14}
{:index 47, :time 6050880752, :type :ok, :process 0, :f :broadcast, :value 14}
{:index 48, :time 6299545626, :type :invoke, :process 0, :f :broadcast, :value 15}
{:index 49, :time 6301796188, :type :ok, :process 0, :f :broadcast, :value 15}
{:index 50, :time 6487892636, :type :invoke, :process 1, :f :broadcast, :value 16}
{:index 51, :time 6489959932, :type :ok, :process 1, :f :broadcast, :value 16}
{:index 52, :time 6652096505, :type :invoke, :process 2, :f :read, :value nil}
{:index 53, :time 6654425541, :type :ok, :process 2, :f :read, :value [4 6 10 12]}
{:index 54, :time 6910175369, :type :invoke, :process 0, :f :broadcast, :value 17}
{:index 55, :time 6912487702, :type :ok, :process 0, :f :broadcast, :value 17}
{:index 56, :time 7199282220, :type :invoke, :process 0, :f :read, :value nil}
{:index 57, :time 7201593401, :type :ok, :process 0, :f :read, :value [0 2 5 7 8 14 15 17]}
{:index 58, :time 7247418446, :type :invoke, :process 1, :f :read, :value nil}
{:index 59, :time 7249683187, :type :ok, :process 1, :f :read, :value [1 3 9 11 13 16]}
{:index 60, :time 7578235879, :type :invoke, :process 2, :f :broadcast, :value 18}
{:index 61, :time 7580271954, :type :ok, :process 2, :f :broadcast, :value 18}
{:index 62, :time 7720976790, :type :invoke, :process 0, :f :broadcast, :value 19}
{:index 63, :time 7723093672, :type :ok, :process 0, :f :broadcast, :value 19}
{:index 64, :time 8069152774, :type :invoke, :process 0, :f :broadcast, :value 20}
{:index 65, :time 8071272132, :type :ok, :process 0, :f :broadcast, :value 20}
{:index 66, :time 8198604115, :type :invoke, :process 1, :f :broadcast, :value 21}
{:index 67, :time 8201127389, :type :ok, :process 1, :f :broadcast, :value 21}
{:index 68, :time 8529426729, :type :invoke, :process 2, :f :broadcast, :value 22}
{:index 69, :time 8531318403, :type :ok, :process 2, :f :broadcast, :value 22}
{:index 70, :time 8784299514, :type :invoke, :process 0, :f :read, :value nil}
{:index 71, :time 8786620603, :type :ok, :process 0, :f :read, :value [0 2 5 7 8 14 15 17 19 20]}
{:index 72, :time 8967148506, :type :invoke, :process 0, :f :broadcast, :value 23}
{:index 73, :time 8969527498, :type :ok, :process 0, :f :broadcast, :value 23}
{:index 74, :time 9355274196, :type :invoke, :process 1, :f :broadcast, :value 24}
{:index 75, :time 9357550890, :type :ok, :process 1, :f :broadcast, :value 24}
{:index 76, :time 9670431383, :type :invoke, :process 2, :f :broadcast, :value 25}
{:index 77, :time 9672474742, :type :ok, :process 2, :f :broadcast, :value 25}
{:index 78, :time 9761905426, :type :invoke, :process 0, :f :broadcast, :value 26}
{:index 79, :time 9764029658, :type :ok, :process 0, :f :broadcast, :value 26}
{:index 80, :time 10007614773, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 10009789607, :type :ok, :process 0, :f :read, :value [0 2 5 7 8 14 15 17 19 20 23 26]}
{:index 82, :time 20010912854, :type :invoke, :process 1, :f :read, :value nil, :final? true}
{:index 83, :time 20012311688, :type :invoke, :process 2, :f :read, :value nil, :final? true}
{:index 84, :time 20012538179, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 85, :time 20014543665, :type :ok, :process 1, :f :read, :value [1 3 9 11 13 16 21 24], :final? true}
{:index 86, :time 20014623872, :type :ok, :process 0, :f :read, :value [0 2 5 7 8 14 15 17 19 20 23 26], :final? true}
{:index 87, :time 20014652427, :type :ok, :process 2, :f :read, :value [4 6 10 12 18 22 25], :final? true}
